#one {
    background-color: black;
    color: white;
}

table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: 400px;
}

tr:nth-child(even) {
    background-color: rgba(185, 218, 207, 0.63);
}

tr:nth-child(odd) {
    background-color: white;
}